.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
/* navbar cabeçalho*/
.navbar {
    background-color: #003D6C; /* Azul Escuro */
    flex-direction: row; /* Garante que os itens fiquem em uma linha */
}

.nav-link {
    color: #ffb547;/* Cor do texto dos links */
    font-style: bold;
    font-size: larger;
}

.nav-link:hover {
    color: #0065A4; /* Azul Claro ao passar o mouse */
}

/* botão no mobile */
.navbar .navbar-toggler { 
    color: #ffb547;
    border-color: #ffb547; /* Cor da borda do botão */
}

.custom-navbar .navbar-toggler-icon {
    background-color: #ffb547;  /* Cor do ícone do botão */
}

.btn-user-admin {
    margin-left: auto; /* Caso precise ajustar a margem para alinhamento no futuro */
    background-color: #efa83e;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px; /* Reduz o preenchimento para deixar o botão menor */
    font-size: 1rem; /* Tamanho da fonte */
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.btn-user-admin:hover {
    background-color: #0056b3; /* Azul ao clicar */
    color: white; /* Mantém o texto branco */
}

@media (max-width: 640.98px) {
        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
