@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Web

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex justify-content-between align-items-center px-4">
         
            
            <!-- Botão de Login que só aparece em Home ou Cardápio -->
            @if (IsHomeOrCardapio())
            {
                <button class="btn-user-admin ml-2" @onclick="RedirectToLogin">Iniciar sessão</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void RedirectToLogin()
    {
        NavigationManager.NavigateTo("/login"); // Caminho da página de login
    }

    private bool IsHomeOrCardapio()
    {
        // Obtém o caminho relativo da URL atual
        var currentUri = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();

        // Verifica se a URL atual é 'home' ou 'cardapio'
        return currentUri == "" ;
    }
}

@* Comparo diretamente o caminho com "home" ou "cardapio", que são os nomes esperados para as páginas. *@