@page "/Cadastro"

<div class="container">
    <div class="form_area">
        <p class="title">Cadastrar</p>
            <form action="">
                <div class="form_group">
                    <label class="sub_title" for="name">Nome</label>
                    <input placeholder="Digite Seu Nome Completo" class="form_style" type="text">
                </div>

                <div class="form_group">
                    <label class="sub_title" for="email">Email</label>
                    <input placeholder="Digite seu Email" id="email" class="form_style" type="email">
                </div>
                <div class="form_group">
                    <label class="sub_title" for="password">Senha</label>
                    <input placeholder="Digite sua Senha" id="password" class="form_style" type="password">
                </div>
                <div>
                    <button class="btn">Cadastrar</button>
                    <p>Já tem uma conta? <a class="link" href="">Entrar</a></p>
                </div>
            </form>
    </div>
</div>

 @code {

    @* INTEGRAÇÃO DO MAUI COM BACKEND ( A FAZER )*@

}