@page "/CadastroProdutos"

<h1>Produtos</h1>
<div style="inline-block">
    <div id="">
        <input type="text" id="txtBusca" placeholder="Item, valor ou codigo">
        <img src="" id="btnBusca" alt="Buscar">
    </div>
    <div>
        <input type="text" id="searchInput" onclick="filterContent()" placeholder="Filtro">
    </div>
    <div>
        <button>Cadastrar</button>
    </div>
<div>  
    <thead>
        <tr>
            <th scope="col"> Produtos</th>
            <th scope="col"> Categorias</th>
            <th scope="col"> Preço </th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</div>


</div>

@code{

}