@page "/Cadastro"

<div class="container">
    <div class="form_area">
        <p class="title"></p>
        <img class="fotoLogo" src="imgs/logo_senac3.png" alt="FotoLogo">
            <form action="">
                <div class="form_group">
                    <label class="sub_title" for="name">Nome</label>
                    <input placeholder="Digite Seu Nome Completo" class="form_style" type="text">
                </div>

                <div class="form_group">
                    <label class="sub_title" for="email">Email</label>
                    <input placeholder="Digite seu Email" id="email" class="form_style" type="email">
                </div>
                <div class="form_group">
                    <label class="sub_title" for="password">Senha</label>
                    <input placeholder="Digite sua Senha" id="password" class="form_style" type="password">
                </div>
                <div>
                    <button class="btn">Cadastrar</button>
                    <p><strong>Já tem uma conta?</strong><a class="link" href="login">Entrar</a></p>
                </div>
            </form>
    </div>
</div>

 @code {

    @* INTEGRAÇÃO DO MAUI COM BACKEND ( A FAZER )*@

}