*{
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f9fa;
        padding: 20px;
    }

    h1 {
        color: #007bff;
        font-size: 2.5rem;
    }

        /* Estilização dos Botões de Categoria */
    .btn-warning {
        background-color: #dd9933; /* Cor de fundo inicial (amarelo) */
        color: white;
        border: none;
        border-radius: 20px;
        padding: 5px 15px; /* Reduz o preenchimento para deixar o botão menor */
        font-size: 1rem; /* tamanho da fonte */
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    /* Cor de Fundo Azul ao Passar o Mouse */
    .btn-warning:hover {
        background-color: #0056b3; /* Azul ao clicar */
        color: white; /* Mantém o texto branco */
    }

    /* Botão Secundário - Mostrar Todos */
    .btn-secondary {
        background-color: #0065A4; /* Cinza escuro */
        color: white;
        border: none;
        border-radius: 30px;
        padding: 5px 15px; /* Reduz o preenchimento para deixar o botão menor */
        font-size: 1rem; /* tamanho da fonte */
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    /*  Botão Secundário - Mostrar Todos Cor de Fundo Azul Claro ao Passar o Mouse */
    .btn-secondary:hover {
        background-color: #dd9933;  /*  Ao clicar */
        color: white;
    }

    .product-card {
        margin-bottom: 30px;
        border-radius: 15px;
        transition: transform 0.3s ease;
        overflow: hidden; /* Para garantir que o conteúdo não ultrapasse as bordas arredondadas */
    }

    .product-card:hover {
        transform: scale(1.05);
    }

    /* Estilização da Imagem do Card */
    .product-card img {
        width: 100%;
        height: 200px; /* Altura fixa para uniformidade */
        object-fit: cover; /* Cobre o espaço disponível, cortando se necessário */
}

    .card-title { /* título do card de imagens */
        font-size: 1.25rem;
        color: #343a40;
    }

    .card-text { /* texto descrição de imagens */
        color: #6c757d;
    }

    .btn-primary {  /* botões do de imagens */
        background-color: #dd9933;
        border-color: #007bff;
    }

    .btn-primary:hover { /* tasnsção de imagens */
        background-color: #0056b3;
        border-color: #0056b3;
    }
}