<h1>cardapio</h1>

<h3>item 1</h3>
<p>descricao</p>
<h3>item 1</h3>
<p>descricao</p>
<h3>item 1</h3>
<p>descricao</p>
<h3>item 1</h3>
<p>descricao</p>

<h3>preco 1</h3>
<h3>preco 1</h3>
<h3>preco 1</h3>
<h3>preco 1</h3>

<button>pedir</button>

@code {

}
