 /* Custom Styles */
 .hero-section {
    background: linear-gradient(to right, #f5e250, #dd9933); /* Degradê amarelo */
    color: #0056b3;
    padding: 100px 0;
    text-align: center;
  }
  .hero-section h1 {
    animation: fadeInDown 1.5s ease;
  }
  .hero-section p {
    animation: fadeInUp 2s ease;
  }
  @keyframes fadeInDown {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  @keyframes fadeInUp {
    0% { transform: translateY(50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  .fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  /* Image styling */
  .img-fluid {
    transition: transform 0.3s ease;
  }
  .img-fluid:hover {
    transform: scale(1.05);
  }