@page "/TelaIni"




    <style>
    h1{color:#003D6C ;}
    .botao{
        background-color: #dd9933;
        color:#003D6C;
        margin:20px;
        height: 90px;
        width:135px;
       
       
        
    }
    .botao2{
         background-color: #dd9933;
        color:#003D6C;
        margin: 25px;
        height:90px;
        width: 145px;

    }
    .botao3{
         background-color: #dd9933;
        color:#003D6C;
        margin: 20px;
        height:75px;
        width: 140px;
        
    }
    .botao4{
         background-color: #dd9933;
        
        height:120px;
        width: 120px;
        

    }
    .linha1{
        display: flex;
       
        justify-content: space-between; 
       
        
    }
    .linha2{
        display: flex;
        justify-content: flex-end;
        margin-top:20px;
        margin-right: 15px;
        
        
    }
    .coluna{
        
        display: flex;
        flex-flow: column;
        margin-right: 1000px;
        margin-top:15px ;
       
    }
  
    </style>




<div class ="linha1">
<img src="imgs/logo_senac.jpg" alt="Logo" width="150px" height="100">
<h1>CARDÁPIO SENAC</h1>
<button class="botao">DESLOGAR</button>
</div>

<div class ="linha2">
    <button class="botao2">SALGADOS</button>
    <button class="botao2">SOPA</button>
    <button class="botao2">DOCES</button>
    <button class="botao2">BEBIDAS</button>
    <button class="botao2">COMBOS</button>
    <button class="botao4"style="border-radius:50%;"><img src="imgs/lupa.png"alt="lupa" width="25px" height="25px"><strong>BUSCAR</strong></button>
</div>
<div class="coluna">
  <button class="botao3">HOME</button>
    <button class="botao3">CARDÁPIO</button>
    <button class="botao3">CADASTRAR PRODUTO</button>
    <button class="botao3">CRIAR CARDÁPIO DO DIA</button>
</div>
<button>PRODUTOS</button>










