@page "/TelaIni"
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Web

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 20px;
        background-image: url('imgs/background-pattern.png'); /* Imagem de fundo decorativa */
        background-size: cover;
    }
    
    .container {
        background-color: white; /* Fundo branco para destacar o conteúdo */
        border-radius: 15px;
        padding: 30px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra ao redor do container */
    }
    
    h1 {
        color: #003D6C;
        margin: 0;
        padding: 20px 0;
        text-align: center; /* Centraliza o título */
    }
    
    .botao, .botao2 {
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .botao {
        background-color: #dd9933;
        color: #003D6C;
        height: 75px;
        width: 140px;
        border-radius: 10px;
    }

    .botao2 {
        background-color: #dd9933;
        color: #003D6C;
        height: 85px;
        width: 165px;
        margin: 20px;
        border-radius: 10px;
        margin-top: 50px;
    }

    .botao:hover, .botao2:hover {
        background-color: #c68a29;
        transform: translateY(-2px);
    }

    .linha1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .linha2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
</style>

<div class="container">
    <div class="linha1">
        <img src="imgs/logo_senac.jpg" alt="Logo" width="150px" height="100" />
        <h1>TELA DE FUNCIONÁRIO</h1>
        <button class="botao" @onclick="ClickDeslogar">DESLOGAR</button>
    </div>

    <div class="linha2">
        <button class="botao2" @onclick="ClickCardapio">CARDÁPIO</button>
        <button class="botao2" @onclick="ClickCadastroDeProdutos">CADASTRAR PRODUTO</button>
        <button class="botao2" @onclick="ClickCriarCardapio">CRIAR CARDÁPIO DO DIA</button>
    </div>
</div>


@code{

   void ClickHome()
    {
       Navigation.NavigateTo("/");
    }
    void ClickCardapio()
    {
        Navigation.NavigateTo("/");
    }
    void ClickCadastroDeProdutos()
    {
        Navigation.NavigateTo("/CadastroProdutos");
    }
    void ClickDeslogar()
    {
        Navigation.NavigateTo("/");
    }
    void ClickCriarCardapio()
    {
        Navigation.NavigateTo("/");
    }
}








